{% extends 'partials/base.html' %}

{%block content %}
<div class="border p-3">
    <form method="POST">
        <input type="text">
        <input class="btn btn-success btn-block" type="submit" value="Submit">
    </form>
    <hr>
    <div class="border p-3 mb-3">
        <small>2nd February 2022</small>
        <div class="row">
            <div class="col-md-8">
                <p>This is the Task</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-info btn-sm" href="#">Edit</a>
                <a class="btn btn-danger btn-sm" href="#">Delete</a>
            </div>
        </div>
    </div>
    <div class="border p-3 mb-3">
        <small>2nd February 2022</small>
        <div class="row">
            <div class="col-md-8">
                <p>This is the Task</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-info btn-sm" href="#">Edit</a>
                <a class="btn btn-danger btn-sm" href="#">Delete</a>
            </div>
        </div>
    </div>
    <div class="border p-3 mb-3">
        <small>2nd February 2022</small>
        <div class="row">
            <div class="col-md-8">
                <p>This is the Task</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-info btn-sm" href="#">Edit</a>
                <a class="btn btn-danger btn-sm" href="#">Delete</a>
            </div>
        </div>
    </div>
    <div class="border p-3 mb-3">
        <small>2nd February 2022</small>
        <div class="row">
            <div class="col-md-8">
                <p>This is the Task</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-info btn-sm" href="#">Edit</a>
                <a class="btn btn-danger btn-sm" href="#">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}